<div class="col-6 col-sm-6 col-md-6 col-xl-6 col-xs-6">
    <div class="card ">
        <div class="card-header bg-success">
            <div class="card-title pt-1">Add</div>
        </div>
        <div class="card-body">
            <form action="/menu/add" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <label for="txtName " class="mt-1 mr-2">Nhập tên</label>
                        <input type="text" class="form-control" name="txtName" id="txtName"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>